* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
}

h1,
h2, 
h3,
h4,
h5,
h6,
p {
    margin-bottom: 16px;
}

@font-face {
    font-family: GillSans;
    src: url(fonts/GillSans.ttc);
}

@font-face {
    font-family: Proxima;
    src: url(fonts/ProximaNovaScOsfExtraCondensed.ttf);
}

@font-face {
    font-family: PThin;
    src: url(fonts/Proxima-Nova-Thin.otf);
}

@font-face {
    font-family: ExtraCondense;
    src: url(fonts/FontsFree-Net-Proxima-Nova-ExCn-Reg.otf);
}


.homeNav {

max-width: 980px;
height: 60px;
margin: 0 auto;
display: flex;
justify-content: space-between;
border-bottom: white solid 2px;
font-family: GillSans;
margin-top: 27px;
width: 100%;
position: absolute;
margin-left: 430px;



.logoabout {
    width: 92px;
    height: 38px;
    border-color: white;
    border-style: solid;
    border-width: 2px;

    p {
        font-size: 20px;
        color: white;
        margin-top: 17px;
        letter-spacing: 1.8px;
        
       
    }
}


.linksabout {
    width: 542px;
    height: 42px;
    align-self: center;
    display: flex;
    
a {
    text-decoration: none;
    color: white;
    margin: auto;
    font-size: 15px;
   

  

}

.linea {
    color: $site-blue;
    margin-top: 10px;
    
}

    

}


}